.img-input{
    margin-top: 9rem;
  }
  
  .padding {
  margin-left: -200px;
    padding-top: 5rem ;
    /* padding-left: ; */
  }
  
  .user-card-full {
    overflow: hidden;
  }
  
  .card {
    width:70rem;
    height: 20rem;
    border-radius: 5px;
    margin-right: -50px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    /* box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08); */
    border: none;
    margin-bottom: 10px;
  }
  
  .m-r-0 {
    margin-right: 0px;
  }
  
  .m-l-0 {
    margin-left: 0px;
  }
  
  .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
  }
  
  .bg-c-lite-green {
        background:-webkit-gradient(linear, left top, right top, from(#002e6a), to(#A2B2E8));
    background: linear-gradient(to right, #002e6a, #A2B2E8);
  }
  
  .user-profile {
    padding: 20px 0;
  }
  
  .card-block {
    padding: 1.25rem;
  }
  
  .m-b-25 {
    margin-bottom: 25px;
  }
  
  .img-radius {
    border-radius: 5px;
  }
  h5{
  text-align: center;
  }
  .col-sm-6{
  text-align: center;
  }
  
  
  
  h6 {
    font-size: 14px;
  }
  
  .card .card-block p {
    line-height: 25px;
  }
  
  @media only screen and (min-width: 1400px){
  p {
    font-size: 14px;
  }
  }
  
  .card-block {
    padding: 1.25rem;
  }
  
  .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .m-b-20 {
    margin-bottom: 20px;
  }
  
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  
  .card .card-block p {
    line-height: 25px;
  }
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .text-muted {
    color: #919aa3 !important;
  }
  
  .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .f-w-600 {
    font-weight: 600;
  }
  
  .m-b-20 {
    margin-bottom: 20px;
  }
  
  .m-t-40 {
    margin-top: 20px;
  }
  
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .m-t-40 {
    margin-top: 20px;
  }
  
  .user-card-full .social-link li {
    display: inline-block;
  }
  
  .user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  input{
  position: absolute;
  opacity: .5;
  right: 0;
  /* top: 0; */
  /* bottom: 15; */
  margin-top: 9rem;
  overflow: hidden;
  }
.img-input{
    margin-top:9rem;
}  